// Fonts
$handwritten: 'Amatic SC', Helvetica;
$heading-font: 'Raleway', sans-serif;
$body-font: 'Roboto', sans-serif;

// Grid settings
$enable-flex:           true;
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$primary: #A7B5C0;
$primary-highlight: lighten($primary, 5);
$primary-shadow: darken($primary, 8);

// Utilities
$light-border: 1px solid $primary-highlight;
$dark-border: 1px solid $primary-shadow;
