@import "common/variables";

// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/bootstrap/scss/bootstrap.scss";
@import "../../bower_components/slick-carousel/slick/slick.scss";
// endbower

@import "common/global";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/grid";
@import "components/wp-classes";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";


// General
.wrap.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.container-fluid, .main {
  overflow-x: hidden;
}

section.articles, section.contact, section.services, section.testimonials {
  margin-top: 6em;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $heading-font;
}

h1,h2,h3,h4,h5,h6,p,li,a,span {
  color: $dark-text;
}

h3, h4 {
  margin-bottom: .75em;
}

a:hover {
  text-decoration: none;
}

p {
  font-family: $body-font;
}

// Topbar and Nav
.banner {
  margin-bottom: 6em;
  background: $primary;
  height: 62px;
  line-height: 62px;
  border-bottom: $light-border;
}

.brand {
  color: #fff;
  font-family: $handwritten;
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  &:hover, &:active {
    color: #fff;
  }
}

.brand img {
  margin-top: 5px;
  margin-right: 8px;
  width: 110px;
  float: left;
}

.nav-primary {
  float: right;
  font-size: 0;

  li:before, li:last-child:after {
    content: "";
    display: inline-block;
    height: 100%;
    background: $primary-shadow;
    width: 1px;
  }

  li:last-child:after {
    background: $primary-highlight;
  }

  li {
    height: 62px;
    display: inline-block;
    font-weight: 500;
    border-left: $light-border;
    &:last-of-type {
      border-right: 1px solid $primary-shadow;
    }
    &:hover {
      background: darken(#FDFDFD, 6);
    }
    &:hover a {
      color: grey;
    }
  }

  a {
    color: #fff;
    font-size: 16px;
    height: 60px;
    padding: 0 15px;
    vertical-align: top;
    display: inline-block;
  }
}

// Intro Section
img.headshot {
  max-width: 80%;
}

// Services Section
section.services {
  border-top: $light-border;
  border-bottom: $light-border;
  border-width: 4px;
  padding: 2em 0;
  background: darken($primary, 25);;

  .container {
    height: 100%;
  }

  .row {
    height: 100%;
  }

}

.service {
  padding: 0 45px;
  text-align: center;

  img {
    max-width: 45px;
    margin-bottom: 8px;
  }

  h6, p {
    color: $light-text;
  }

  p {
    margin-bottom: 0;
    font-size: 14px;
  }

}

// Testimonials Section
.slick-track {
  height: 30em;
}

.testimonial-slide {
  background-size: cover;

  &:first-child::before {
    content: '';
    display: block;
    background: rgba(0,0,0,.4);
    left: 0;
    right: 0;
    position: absolute;
    height: 100%;
  }

}

.testimonial {
  z-index: 10;
  width: 80%;

  h3, span {
    color: #fff;
    font-size: 38px;
    display: inline-block;
  }

  .attribution {
    color: #fff;

    &::before {
      content: '- ';
    }

  }

}

.testimonial-1 {
  background-image: url('../images/baby-finger.jpeg');
  background-position-y:  -220px;
}

.testimonial-2 {
  background-image: url('../images/holding-baby.jpeg');
}

.testimonial-3 {
  background-image: url('../images/baby-feet.jpg');
}

.slick-arrow.slick-prev:before, .slick-arrow.slick-next:before {
  color: $primary-highlight;
  font-family: 'FontAwesome';
  font-size: 45px;
}

.slick-prev {
  left: 25px;
  z-index: 10;
}

.slick-next {
  right: 25px;
}

// Articles Section
.article {
  margin: 15px 0;
  padding: 8px 0;
  border-bottom: 1px dotted $primary;

  img {
    max-width: 100%;
  }
  h6 {
    font-weight: bold;
    line-height: 21px;
    color: darken($primary, 15);
  }
  a:hover {
    cursor: pointer;
    h6 {
      color: #014c8c;
    }
  }
  a:hover, a:active, a:visited, a:focus {
    text-decoration: none;
  }
  aside {
    color: darkgrey;
    font-size: 12px;
    margin-bottom: 5px;
  }
  p {
    font-size: 14px;
    color: #666;
  }

}

// Contact Section
.contact-container {
  margin-right: 15%;
}

section.contact {
  padding: 15px;
  border: 3px solid $primary-shadow;
  border-radius: 4px;
  background: lighten($primary, 25);
}

.contact-form label {
  text-align: left !important;
}

.contact-form input, .contact-form textarea {
  width: 100%;
}

// Footer
footer {
  padding: 2.8em 0 20px 0;
  background: $primary;
  border-top: $dark-border;
  border-width: 4px;

  a {
    text-decoration: underline;
  }

  h4 {
    color: darken($primary, 45);
  }

}

.footer-minor {
  margin-top: 30px;

  span {
    margin: 0 auto;
    font-size: 12px;
  }

}

.contact-list {
  padding-left: 0;
  list-style-type: none;

  li, i {
    color: darken($primary, 45);
  }

  li {
    margin-bottom: 8px;
  }

  i {
    padding-right: 4px;
  }

}

// Flex Alignment
.df {
  display: -webkit-flex !important;
  display: -ms-flex !important;
  display: flex !important;
}

.flex-col {
  flex-direction: column;
}

.center-center {
  justify-content: center;
  align-items: center;
}

// Utility Classes
.text-center {
  text-align: center;
}

.quotation-mark {
  padding: 0 8px;
  font-family: initial;
  font-weight: bold;
}
