@import "common/variables";

// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/bootstrap/scss/bootstrap.scss";
// endbower

@import "common/global";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/grid";
@import "components/wp-classes";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";


// General
.wrap.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.container-fluid, .main {
  overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6,p,li,a,span {
  font-family: $heading-font;
}

a:hover {
  text-decoration: none;
}

p {
  font-family: $body-font;
}

// Topbar and Nav
.banner {
  margin-bottom: 6em;
  background: $primary;
  height: 62px;
  line-height: 62px;
  border-bottom: $light-border;
}

.brand {
  color: #fff;
  font-family: $handwritten;
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  &:hover, &:active {
    color: #fff;
  }
}

.brand img {
  margin-top: 5px;
  width: 90px;
  float: left;
}

.nav-primary {
  float: right;
  font-size: 0;

  li:before, li:last-child:after {
    content: "";
    display: inline-block;
    height: 100%;
    background: $primary-shadow;
    width: 1px;
  }

  li:last-child:after {
    background: $primary-highlight;
  }

  li {
    height: 62px;
    display: inline-block;
    font-weight: 500;
    border-left: $light-border;
    &:last-of-type {
      border-right: 1px solid $primary-shadow;
    }
    &:hover {
      background: darken(#FDFDFD, 6);
    }
    &:hover a {
      color: grey;
    }
  }

  a {
    color: #fff;
    font-size: 16px;
    height: 60px;
    padding: 0 15px;
    vertical-align: top;
    display: inline-block;
  }
}

// Intro Section
img.headshot {
  max-width: 80%;
}

// Services Section
section.services {
  border-top: $dark-border;
  border-bottom: $dark-border;
  border-width: 2px;
  margin-top: 6em;
  padding: 2em 0;
  background: $primary;
  color: #fff;

  .container {
    height: 100%;
  }

  .row {
    height: 100%;
  }

}

.service {
  padding: 0 35px;
  text-align: center;

  img {
    max-width: 45px;
    margin-bottom: 8px;
  }

  h5 {
    // text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    // font-weight: 600;
  }

  p {
    margin-bottom: 0;
  }

}

// Flex Alignment
.df {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.center-center {
  justify-content: center;
  align-items: center;
}

// Utility Classes
.text-center {
  text-align: center;
}
