@import "common/variables";

// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/bootstrap/scss/bootstrap.scss";
// endbower

@import "common/global";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/grid";
@import "components/wp-classes";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";


// Universal
a:hover {
  text-decoration: none;
}

// Topbar and Nav
.banner {
  margin-bottom: 45px;
  background: #FDFDFD;
  height: 60px;
  line-height: 60px;
  border-bottom: $light-border;
}

.brand {
  color: grey;
}

.brand img {
  margin-top: 5px;
  width: 6em;
  float: left;
}

.nav-primary {
  float: right;
  font-size: 0;

  li {
    height: 60px;
    display: inline-block;
    // padding: 0 15px;
    border-left: $light-border;
    &:last-of-type {
      border-right: $light-border;
    }
    &:hover {
      background: darken(#FDFDFD, 6);
    }
  }

  a {
    color: grey;
    font-size: 16px;
    height: 60px;
    padding: 0 15px;
    display: inline-block;
  }
}
